

*{margin:0; padding:0;}
body {
    background: rgb(255,242.25,165.75);/*#fff top center no-repeat;*/
    color:#303030; 
    font:92% Georgia,Times New Roman, serif; 
    line-height:1.5em;
}
a {color:#0077CC; text-decoration:none;}
a:hover {text-decoration:underline;}
p,ol,dl {margin:0 0 20px 20px;}
h1 {color:#0077CC; font-size:2em; line-height:1.1em;}
h1 a {color:#0077CC; font-weight:400; text-transform:none;}
h1 {font-weight:400;}
h4 {font-size:1.0em;}
#wrap {color:#303030; margin:40px auto; padding:0; width:920px;}

#sidebar {
    /* float:right; */
    display:table-cell;
    line-height:1.4em; 
    width:200px;
}
#sidebar ul {font-size:0.9em; list-style:none; margin:0; padding:0 0 15px 0;}
#sidebar li {list-style:none; margin:0 0 5px; padding:0;}
#sidebar li a {font-size:1.2em;}
#sidebar ul ul {line-height:1.2em; margin:8px 0 8px 20px; padding:0;}
#sidebar ul ul li a {font-weight:400;}
#sidebar h1 {font-size: 1.8em; color:default;}
#sidebar h2 {font-size: 1.2em; font-weight:400;}
.slogan {color:#777; font-size:1.2em; font-weight:400; margin:0 0 20px 0;}
.readmore {text-align:right; margin:0 20px 30px 0;}
.timestamp {font-size:1.2em; margin:-5px 0 15px 0;}
.timestamp a {font-weight:normal;}
.credits {font-size:0.5em; color:#777; margin:0;}
.credits a {color:#777;}
.clear {clear:both;}

dl.table-display
{
    float: left;
    width: 620px;
    margin: 1em 0;
    padding: 0;
    border-bottom: 1px solid #999;
}

.table-display dt
{
    clear: left;
    float: left;
    width: 200px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
    font-weight: bold;
}

.table-display dd
{
    float: left;
    width: 400px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
}

#minimalist
{
    background: #fff;
    empty-cells:show;
    margin:2px 0 10px 0;
    text-align: left;
    border-collapse: collapse;
}
#minimalist th {
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    border-bottom: 1px solid #bbbbaa;
}
#minimalist td {
    border-bottom: 1px solid #ddddcc;
    padding: 2px 10px 2px 10px;
}
#minimalist a {
}

.crop {
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.cropSIDE img {
    height: auto;
    width: 200px;
}

#footer {
    clear: both;
}

/*

hr { 
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 70%;
}


*/


.paragraph-with-bg {
    position:relative;
}

.paragraph-with-bg::before {
    content:"";
    position:absolute; 
    top:0; right:0; bottom:0; left:0;
    /* background: url(mhc.png) no-repeat; */
    background-size:50%;
    background-position:60% 50%;
    opacity: 0.15;
    z-index: -1000;
}

.contact-with-bg {
    position:relative;
}

.contact-with-bg::before {
    content:"";
    position:absolute; 
    top:0; right:0; bottom:0; left:0;
    /* background: url(mhc.png) no-repeat; */
    background-size:40%;
    background-position:50% 50%;
    opacity:0.2;
    z-index:-1000;
}


/* THE FOLLOWING IS FOR INSERTING LATEX TIKZ CODE */


#codestuff {
    /* text-align:left; */
    display:table-cell;
    width:700px;
}

#codestuff h2 {font-size:1.8em; color:#0077CC; margin:0 0 15px; font-weight:400;}
#codestuff h3 {font-size:1.2em; margin:0 0 10px 15px; font-weight:400;}
#codestuff h4 {font-size:1.0em; font-weight: bold; margin:0 0 10px 15px;}
#codestuff ul {list-style:none; margin:0px 0px 0px 15px; padding:0;}
#codestuff li {list-style:none; margin:0px 0px 0px 0px; padding:0;}


section {
    width: 660px;
    background: rgb(255,242.25,165.75);
    margin: 10px;
    padding: 5px;
    vertical-align: top;
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

div#mypic {
    width: 205px;
    background: rgb(255,242.25,165.75);
    float: left;
    padding-right: 10px;
}

.mypic:hover {
    position:relative;
    top: -50%;
    left: -50%;
    width: 420px;
    height: auto;
    display: block;
    z-index: 999;
}

div#myfile {
    width: 50px;
    font-family: monospace;
    font-weight: 600;
    font-size: 9pt;
    color:#303030;
    background: rgb(255,242.25,165.75);
    float: left;
    border:none;
    padding-left:5px;
    word-wrap: break-word;
    line-height: 1.15;
}

img {
    width: 95%;
    height: auto;
    border: 1.4px solid #B2B2FF;
    margin: 5px;
}


